<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="images/favicon.png">
    <title>Edugo - Education Mobile Template</title>

    <link th:href="@{/static/css/materialize.css}" rel="stylesheet">
    <link th:href="@{/static/css/loader.css}" rel="stylesheet">
    <link th:href="@{/static/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/owl.theme.default.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/style.css}" rel="stylesheet">
    <link th:href="@{/static/css/kdstyles.css}" rel="stylesheet" type="text/css" media="all">

    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/materialize.min.js}"></script>
    <script th:src="@{/static/js/owl.carousel.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
    <script th:src="@{/static/js/express.js}"></script>
    <script th:src="@{/static/js/login.js}"></script>

    <link th:href="@{/static/css/sweetalert.css}" rel="stylesheet">
    <script th:src="@{/static/js/sweetalert-dev.js}"></script>

    <script>

        $(document).ready(function () {
            var photo = window.localStorage.getItem("photo");
            var nickname = window.localStorage.getItem("nickname");
            if (photo != null) {
                $("#photo").attr("src", photo);
            }
            if (nickname != null) {
                document.getElementById("nickname").innerText = nickname;
            }
        });
    </script>


</head>
<body>

<!-- preloader -->
<div class="loader-wrapper">
    <div class="loader-cube"></div>
</div>
<!-- end preloader -->

<!-- navbar -->
<div class="navbar">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="content-left">
                    <a href="index.html">
                        <h1>
                            <span class="color-indigo1">E</span><span class="color-indigo2">D</span><span
                                class="color-indigo3">U</span><span class="color-indigo4">G</span><span
                                class="color-indigo5">O</span>
                        </h1>
                    </a>
                </div>
            </div>
            <div class="col s6">
                <div class="content-right">
                    <a href="#slide-out" data-activates="slide-out" class="sidebar"><i class="fas fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end navbar -->

<!-- sidebar left -->
<div class="sidebar-panel">
    <ul id="slide-out" class="collapsible side-nav">
        <li class="list-top">
            <div class="user-view">
				<img id="photo" th:src="@{/static/images/testimonial1.png}" class="responsive-img" alt="">
				<h4 id="nickname"></h4>
                <span>New York</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="fas fa-home"></i>Home<span><i class="fas fa-angle-right right"></i></span>
            </div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index2.html">Home v2</a></li>
                </ul>
            </div>
        </li>
        <li><a href="course.html"><i class="fas fa-graduation-cap"></i>Course</a></li>
        <li><a href="teacher.html"><i class="fas fa-user"></i>Teacher</a></li>
        <li><a href="event.html"><i class="fas fa-calendar-alt"></i>Event</a></li>
        <li>
            <div class="collapsible-header">
                <i class="fas fa-clone"></i>Blog<span><i class="fas fa-angle-right right"></i></span>
            </div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="fas fa-clone"></i>Pages<span><i class="fas fa-angle-right right"></i></span>
            </div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="features.html">Features</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="page-not-found.html">Page Not Found</a></li>
                    <li><a href="pricing-table.html">Pricing</a></li>
                </ul>
            </div>
        </li>
        <li><a href="contact.html"><i class="fas fa-envelope"></i>Contact</a></li>
        <li><a href="login.html"><i class="fas fa-sign-in-alt"></i>Login</a></li>
        <li><a href="register.html"><i class="fas fa-user-plus"></i>Register</a></li>
        <li><a href="javascript:void(0);" onclick="log_out()"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
    </ul>
</div>
<!-- end sidebar left -->

<!-- contact -->
<div class="contact segments-page">
    <div class="container">
        <div class="contact-title">
            <h3>快递查询</h3>
        </div>
        <div class="wrap-form">
            <form>
                <input type="text" id="shipSn" placeholder="快递单号" onblur="sel()">
                <input type="text" id="showshipChannel" placeholder="快递公司" disabled="disabled">
                <!--    不显示，在正式查询的时候作为快递公司的编码进行传参-->
                <input type="hidden" id="shipChannel" disabled="disabled" >

                <button class="button" onclick="Status();return false;">查询</button>
            </form>
        </div>
        <div class="wrap-info">
            <ul id="express">
                <li><i class="fas fa-map-marker-alt"></i>North Western Chicago, United States</li>
                <li><i class="fas fa-phone"></i>+1 23 456 789</li>
                <li><i class="fas fa-envelope"></i>example@domain.com</li>
            </ul>
        </div>
        <div class="wrap-social">
            <div class="wrap-title">
                <h5>Follow Us</h5>
            </div>
            <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-google"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end contact -->

<!-- map -->
<div class="wrap-map">
    <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16785.625443096556!2d-87.69917247215992!3d41.950732042199576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd271eff9a9f1%3A0xe7d640c19813fb5b!2sN+Western+Ave%2C+Chicago%2C+IL%2C+Amerika+Serikat!5e0!3m2!1sid!2sid!4v1541599989429"
            style="border:0" allowfullscreen></iframe>
</div>
<!-- end map -->

</body>
</html>
