<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>

    <script>

        $(document).ready(function () {
            $.ajax({
                url:"/user/getCode",
                type:"get",
                dataType:"text",
                success:function(code){
                    if(code != null){
                        document.getElementById("qqcode").href = code;
                    }else{
                        document.getElementById("qqcode").href = "www.zby123.club";
                    }
                }
            })
        });
    </script>

    <style>
        .login_bg{
            background: #ffffff;
        }
        .login_btn{
            width: 80%;
            margin: 10%;
        }
        .other_login{
            top: 70%;
        }
        .other_choose{
            top: 80%;
        }
    </style>
</head>
<body>
<div class="login_bg">
    <div id="logo">
        <img th:src="@{/static/images/logo.png}" alt=""/>
    </div>
    <a class="login_btn" href="/user/login">登&nbsp;&nbsp;录</a>
    <a class="login_btn" href="/user/reg">新&nbsp;&nbsp;手&nbsp;&nbsp;注&nbsp;&nbsp;册</a>
    <div class="other_login">
        <div class="other"></div>
        <span>其他方式登录</span>
        <div class="other"></div>
    </div>
    <div class="other_choose">
        <a id="qqcode" href="">
            <img th:src="@{/static/images/qq.png}" alt=""/>
        </a>
        <a href="">
            <img th:src="@{/static/images/wx.png}" alt=""/>
        </a>
        <a href="">
            <img th:src="@{/static/images/wb.png}" alt=""/>
        </a>
    </div>
</div>
<div style="text-align:center;">

</div>
</body>
</html>