<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="viewport" content="height=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title></title>
    <link th:href="@{/static/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/register.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<script>
    var countdown = 60;
    function send(obj) {
        var phone = $("#phone").val();
        if(phone==""||phone==null){
            alert("手机号不能为空！");
            return false;
        }
        $.ajax({
            url:"/check/sms/" + phone,
            dataType:'text',
            contentType: "application/json;charset=utf-8",
            type:"get",
            success:function(Result){
               if (Result){
                   obj.onclick = "return false";
                   obj.style.color = "#8B7D6B";
               }else {
                    obj.innerHTML = '点击重试！';
               }
            }
        });
        setTime(obj);//开始倒计时
    }


    var countdown = 60;
    function setTime(obj) {
        if (countdown == 1) {
            obj.text = '点击重试！';
            obj.onclick = send(this);
            countdown = 60;//60秒过后button上的文字初始化,计时器初始化;
            return;
        } else {
            obj.text = "("+countdown+"s)后重新发送" ;
            countdown--;
        }
        setTimeout(function() { setTime(obj) },1000) //每1000毫秒执行一次
    }



    function register() {
        //跳转到注册界面register.html进行注册
        // window.open("register.html", "_blank");  //_self,_parent,_top,_blank
        var phone=$("#phone").val();
        var smsCode=$("#smsCode").val();
        var type=$("#type").val();


            $.ajax({  // ajax登陆请求
                url:"/user/register/" + smsCode,
                dataType:'json',
                contentType: "application/json;charset=utf-8",
                type:"post",
                data:JSON.stringify({
                    "phone":phone,
                    "type":type
                }),
                success:function(register){
                    if(register.flag){
                        window.location.href="/user/login";//跳转login
                    }else {
                        document.getElementById('phonecode').innerText = '注册失败！联系管理员' ;
                    }
                }

            });
    }

    function bluree(phone) {
        $.ajax({  // ajax登陆请求
            url:"/check/username/" + phone,
            dataType:'text',
            contentType: "application/json;charset=utf-8",
            type:"get",
            // async:false,
            success:function(Result){
                if(Result == 'true'){
                    // document.getElementById('phone').style.background = '#8B2500' ;
                    document.getElementById('phone').value = '' ;
                    document.getElementById('phonecode').style.color = '#8B2500' ;
                    document.getElementById('phonecode').innerText = '该号码已被注册！' ;
                }else {
                    // document.getElementById('phone').style.background = '#32CD32' ;
                    document.getElementById('phonecode').style.color = '#32CD32' ;
                    document.getElementById('phonecode').innerText = '账号校验通过' ;
                }
            }
        });


    }


    function settime(obj) {
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value="免费获取验证码";
            countdown = 60;
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value="重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function() {
                settime(obj) }
            ,1000)
    }




</script>
    <div class="register">
        <div class="regTop">
            <span>用户注册</span>
            <a class="back" href="/user/index">&lt;&nbsp;返回</a>
        </div>
        <div class="content">
            <div class="point">
                <span id="phonecode">使用qq登录可以更加便捷</span>
            </div>
            <form>
                <div class="message">
                    <input id="phone" type="tel" placeholder="输入手机号" pattern="[0-9]{11}" onblur="bluree(this.value)"  required/>
<!--                    <input id="email" type="email" placeholder="输入邮箱" required/>-->
<!--                    <input id="password" type="password" placeholder="请输入6-25位密码" pattern="[0-9A-Za-z]{6,25}" required/>-->
                    <input id="smsCode" type="text" placeholder="输入验证码" pattern="[0-9]{4}" required/>
<!--                    <input id="id" type="hidden" th:value="${id} ==''?'1':${id}"/>-->
                    <select id="type" name="type">
                        <option value="0">选择角色</option>
                        <option value="0">用户</option>
                        <option value="1">管理员</option>
                    </select>
                    <div class="icons">
                        <b><img th:src="@{/static/images/zc-1.jpg}" alt=""/></b>
                        <b></b>
                        <b><img th:src="@{/static/images/zc-3.jpg}" alt=""/></b>
                    </div>
                    <a class="code" onclick="send(this)" required>获取验证码</a>
                </div>
                <div class="agree">
                    <input id="box" type="checkbox"/><span>&nbsp;同意&nbsp;</span><a href="www">《注册协议》</a>
                    <span id="agreement"></span>
                </div>
                <button class="submit" type="submit" onclick="document.getElementById('box').checked ? register() : document.getElementById('agreement').innerText = '请同意注册协议'">注册</button>
            </form>
        </div>
    </div>
</body>
</html>