<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="viewport" content="height=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title></title>
    <link th:href="@{/static/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/register.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<script>
    function send() {
        var phone = $("#phone").val();
        if(phone==""||phone==null){
            alert("手机号不能为空！");
            return false;
        }
        $.ajax({
            url:"/check/sms/" + phone,
            dataType:'json',
            contentType: "application/json;charset=utf-8",
            type:"get",
            async:false,
            success:function(Result){

            }
        });
    }

    function register() {
        //跳转到注册界面register.html进行注册
        // window.open("register.html", "_blank");  //_self,_parent,_top,_blank
        var phone=$("#phone").val();
        var username=phone;
        var password=$("#password").val();
        var passwords=$("#passwords").val();
        var email=$("#email").val();
        var smsCode=$("#smsCode").val();

        if(username==""||username==null){
            alert("用户名不能为空！");
            return false;
        }else if(password==""||password==null){
            alert("密码不能为空！");
            return false;
        }else if (password != passwords ){
            alert("密码不一致");
            return false;
        }else if(phone==""||phone==null){
            alert("手机号不能为空！");
            return false;
        }else if(smsCode==""||smsCode==null){
            alert("验证码不能为空！");
            return false;
        }else{
            $.ajax({  // ajax登陆请求
                url:"/user/register/" + smsCode,
                dataType:'json',
                contentType: "application/json;charset=utf-8",
                type:"post",
                data:JSON.stringify({"username":username,
                    "password":password,
                    "email":email,
                    "phone":phone
                }),
                async:false,
                success:function(Result){
                    if(Result.flag == true){
                        alert(Result.message);
                        window.open("/user/login", "_blank");
                    }else {
                        alert(Result.code + Result.message);
                    }
                }
            });
        }


    }
</script>
    <div class="register">
        <div class="regTop">
            <span>用户注册</span>
            <a class="back" href="/user/index">&lt;&nbsp;返回</a>
        </div>
        <div class="content">
            <div class="point">
                <span>注册成功后，手机号也可为登录账号。</span>
            </div>
            <form>
                <div class="message">
                    <input id="phone" type="tel" placeholder="输入手机号" pattern="[0-9]{11}" required/>
                    <input id="email" type="email" placeholder="输入邮箱" required/>
                    <input id="password" type="password" placeholder="请输入6-25位密码" pattern="[0-9A-Za-z]{6,25}" required/>
                    <input id="passwords" type="password" placeholder="请再次输入密码" pattern="[0-9A-Za-z]{6,25}" required/>
                    <input id="smsCode" type="text" placeholder="输入验证码" pattern="[0-9]{4}" required/>
                    <select id="type" name="type">
                        <option value="choose">选择角色</option>
                        <option value="0">用户</option>
                        <option value="1">管理员</option>
                    </select>
                    <div class="icons">
                        <b><img th:src="@{/static/images/zc-1.jpg}" alt=""/></b>
                        <b><img th:src="@{/static/images/zc-1.jpg}" alt=""/></b>
                        <b><img th:src="@{/static/images/zc-2.jpg}" alt=""/></b>
                        <b><img th:src="@{/static/images/zc-3.jpg}" alt=""/></b>
                        <b><img th:src="@{/static/images/zc-3.jpg}" alt=""/></b>
                    </div>
                    <a class="code" onclick="send()" required>获取验证码</a>
                </div>
                <div class="agree">
                    <input type="checkbox"/><span>&nbsp;同意&nbsp;</span><a href="">《注册协议》</a>
                </div>
                <button class="submit" type="submit" onclick="register()">注册</button>
            </form>
        </div>
    </div>
</body>
</html>